body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(img/dark-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: snow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 15px;
}

.light-mode {
  background-image: url(img/light-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.light-mode h1 {
  color: black;
}
